@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Overpass');
/*
Content :
1. Used for: v_transaksi_masuk_detail.php

=============================================*/


/* 1 Used for: v_transaksi_masuk_detail.php 
   2. Used for v_profile.php 
   3. used for customer/partials/navbar.php
   4. used for v_detail*/


.center {
  display: block;
  margin: 0 auto;
}

.center img {

	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.text-1 {
	
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
}

.text-1 h1{
	font-size: 80px;
	margin-top: 0.5em;
}

.text-1 h5 {

	font-size: 18px;
}

.text-1.phone  {
	font-size: 28px;
margin-top: 0;
font-weight: bold;

}

.banner {
	
  display: block;
	background-image: linear-gradient(to right top, #677790, #009abe, #00bebd, #00db86, #a8eb12);

}

@media only screen and (max-width:1200px) {
  
  .text-1 h1{

  	margin-top: 2em;
	font-size: 5vw;
}

.center img {

	width: 15vw;
	height: 15vw;
	margin: 0 auto;
}

.text-1.phone  {

font-size: 3vw;

}

.text-1 h5 {

	font-size: 1.9vw;
}

}

/* =========================== END  =========================== */


/* 2. Used for v_profile.php */

.box-cont-alt {
	position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 2.9em;
  margin-bottom: 2.9em;
  border-radius: 10px;
  display: block;

  	-webkit-box-shadow: 0px 0px 41px -1px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 0px 41px -1px rgba(0,0,0,0.47);
	box-shadow: 0px 0px 41px -1px rgba(0,0,0,0.47);
}

.prof {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0 auto;
}

.prof.flex-box {

	display: flex;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
}

.prof.flex-lmnt {

	display: flex;
}


.prof.address {

	display: flex;
	text-align: center;

}

.prof.address img{

	vertical-align: middle;
	margin-right: 5px;
	padding: 2px;
	width: 25px;
	height: 25px;


}

.prof.address span{

	font-size: 20px;

}

.prof.phone {
	display: flex;
	text-align: center;
	
}
.prof.phone img{
	color: 
	vertical-align: middle;
	margin-right: 15px;
	padding: 2px;
	width: 30px;
	height: 30px;
	
}

.prof.phone h3{
	margin: 0 auto;
	font-size: 30px;

}
.icon-green {

	color: 
}
.prof.email {

	display: flex;
	text-align: center;
}

.prof.email img{
	color: 
	vertical-align: middle;
	margin-right: 15px;
	padding: 2px;
	width: 30px;
	height: 30px;
	
}

.prof.email h3{
	margin: 0 auto;
	font-size: 30px;

}

@media only screen and (max-width: 1199px) {

.prof.flex-lmnt h3{

	font-size: 3vw;
}

.prof.flex-lmnt span{

	font-size: 2vw;
}


.prof.phone img{

	width: 4vw;
	height: 4vw;
	
}
.prof.email img{
	
	width: 4vw;
	height: 4vw;
	
}

}

/* 3. Used for v_edit_profile.php */

.prof-center {
  display: block;
  margin: 0 auto;
}

.box-cont {
	position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 4em;
  margin-bottom: 4em;
  border-radius: 10px;
  display: block;

  	-webkit-box-shadow: 0px 0px 41px -1px rgba(0,0,0,0.47);
	-moz-box-shadow: 0px 0px 41px -1px rgba(0,0,0,0.47);
	box-shadow: 0px 0px 41px -1px rgba(0,0,0,0.47);
}

.prof-center img {
  
  display: block;
  width: 200px;
	height: 200px;
	margin: 0 auto;
}

.text-prof {

	font-family: 'Roboto Condensed', sans-serif;
	
	margin: 0 auto;
	display: block;
}

.text-prof.jumbo {

	text-align: center;
	display: block;
}

.text-prof.jumbo h1{
	font-size: 80px;
	margin-top: 0.5em;
}

.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}

input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus { 
	outline:none; 
}

label {
  color:#d0d7e2; 
  font-family: 'Overpass', sans-serif;
  font-size:18px;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:16px;
  color:#5264AE;
}

.bar { 
	position:relative; 
	display:block; 

}

.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 

  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}


.btn-prof {
	margin: 0 auto;
	display: block;
	position: relative;
	width: 80%;
	height: 100%;
	padding: 15px;
	font-family: 'Overpass', sans-serif;
	font-size: 17px;
	color: #fff;
	border: none;
	border-radius: 5px;
	background-image: linear-gradient(to right top, 
	#9ed8de, #73bed5, #52a2ce, #4784c2, #5264ae);
	transition: all 0.3s ease 0s;
	
}

.block-prof button:hover {
	position: relative;
	padding: 15px;
	font-family: 'Overpass', sans-serif;
	font-size: 17px;
	color: #dae0ea;
	border-radius: 50px;
	background-image: linear-gradient(to right top, 
	#5264ae, #4784c2, #52a2ce, #73bed5, #9ed8de);
	transition: all 0.5s ease 0s;
	
	
}

.btn-prof-cont {

	width: 100%;
	height: 100%;
	display: block;
}

@media only screen and (max-width: 1199px){

	.text-prof.jumbo h1{
	font-size: 5vw;
}
}
/* =========================== END  =========================== */

/* 4. used for nvbar.php*/

.dropbtnnv {
		background: transparent;
  color: #2e2e2e;
  font-size: 20px;
  border: none;
}

.dropdownnv {
  position: relative;
  display: inline-block;
}

.dropdown-contentnv {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 170px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 1;
}

.dropdown-contentnv a {
  color: black;
  padding: 12px 16px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  text-decoration: none;
  display: block;
}

.dropdown-contentnv a:hover {background-color: #ddd;}

.dropdownnv:hover .dropdown-contentnv {display: block;}

.dropdownnv:hover .dropbtnnv {color: #2fce98;}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: 'Overpass', sans-serif;

  -webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.69);
-moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.69);
box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.69);
}

#mySidenav:active{

	width: 350px;
	display: block;
}

.sidenav hr {

	border-top: 1px solid grey;
	width: 250px;
	margin: 0 auto 20px 10px;

}

.sidenav h1 {
margin: 0 auto;
text-align: center;

	}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.banner-side {

	background-color: #2fce98;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media only screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menu-contact {
	position: absolute;
	bottom: 25px;
}

/* 4. used for v_detail */

.detail-center {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.detail-box {

	position: relative;
  	display: flex;
  	margin: 0 auto;
  	width: 90%;
}

.img-container img{

position: relative;
width: 500px;
padding-right: 15px;
padding-right: 15px;
}

.detail-txt {
	position: relative;
	float: right;
	width: 100%;
	font-size: 20px;
	padding-left:  15px;
  	font-family: 'Overpass', sans-serif;
}

.detail-txt h2 {

	margin: 0;
	font-weight: bold;
	margin-bottom: 1em;
}

.detail-txt table {

	width: 100%;
	border-collapse: separate;
}

.detail-txt td{
	border-top: 1px solid grey;
	padding: 20px;
}

.tag-pull-left {

	display: block;
	width: 100%;
	height: 50px;
} 

.tag-pull-left label{
	color: #f57224;
	padding: .4em .6em .3em;
	border-radius: 5px;
} 


.detail-cart-btn {

	padding: 12px 16px;
	background-color: transparent;
	border: 1px solid rgb(51, 122, 183);

}

.containerx {
padding-left: 10px;
padding-right: 10px;
	width: 1100px;
	margin: 0 auto;

}

@media only screen and (max-width:900px) {
  
  .containerx {

		width: 100vw;
		display: block;
		margin: 0 auto;
    padding-left: 13vw;
		float: none;
	}
}


@media only screen and (max-width:1199px) {
  

.detail-box {

	position: relative;
  	display: block;
  	margin: 0 auto;
  	width: 95%;
}

.detail-txt {

	display: block;
	margin: 0 auto;
	padding-left: 0px;
}

  .detail-txt h2 {
  	font-size: 2.8vw;
	margin: 0;
	margin-bottom: 3vw;
	font-weight: bold;
	text-align: center;
}

.detail-txt td {
	padding: 2vw;
}
.detail-txt h3{
	font-size: 2vw;
	margin-top: 0;
}

.detail-txt table {

	font-size: 2vw;
}
.img-container {

	width: 100%;
	margin-bottom: 3vw;
	display: inline-block;

}

.img-container img {
	width: 40vw;
	display: block;
	margin: 0 auto;

	padding-right: 0px;
	padding-right: 0px;

}


.detail-txt label {

	
	padding: .6vw .8vw .5vw;
	font-size: 1.6vw;
}
.tag-pull-left {

	display: block;
	width: 100%;
	height: 5vw;
}

.detail-cart-btn {
font-size: 1.5vw;
padding: 1vw 2vw;

}

}

.container-q {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  
  background-color: #3e2723;
  padding: 10px;
  border-radius: 10px;
  width: 10%;
}
.item-ex {
  background-color: #80cbc4;
  border: 1px solid #fff;
  padding: 40px;
  font-size: 30px;
  text-align: center;
}


.columnx {

  float: left;
  width: 220px;
  padding: 10px;
  margin: 0 auto;
  
}

/* Clear floats after the columns */
.rowx:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 900px){


}

.productx {

overflow: hidden;
background-color: #fff;
border-radius: 6px;
font-family: 'Overpass', sans-serif;

border: 1px solid #e5e5e5;
box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.17);
}

.productx:hover {
	transform:scale(1);
  	filter:blur(0px);
  	opacity:1;
  	box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}

.productx-image {

height: 250px;

}

.productx-image img{

object-fit: cover;
display: block;
width: 100%;
height: 100%;
-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.43);
-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.43);
box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.43);
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;

}
.productx-detail {

	padding: 10px;
}

.productx-name {

	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 16px;
	height: 50px;
	text-align: center;  
	overflow: hidden;
	text-overflow: ellipsis;
	color: #111;
	font-family: 'Overpass', sans-serif;
}

.productx-name h3 {
	margin: 0;
	height: 15px;
	padding: 0px;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

a.productx-name {

	
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;

	color: #111;
	font-family: 'Overpass', sans-serif;
}


.productx-cns {

	text-align: center;
	opacity: .6;
	margin-top: 10px;
	font-size: 12px;
	margin-bottom: 5px;
}

.productx-price {

	text-align: center;
	color: #f57224;
}

.productx-meta {

	margin-top: 10px;
	height: 50px;
}

.produtcx-title {
text-align: center;

}

@media only screen and (max-width: 900px){



	.productx-image {

height: 25vw;

}

.productx-image img {
  border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
}

.productx-price {
	font-size: 1.5vw;
}
.productx-cns {
	font-size: 1.5vw;
}
.productx-name {

	font-size: 1.5vw;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
.productx-name h3 {
	
	font-size: 1.2vw;
}

}

@media only screen and (max-width: 900px) {

	.productx-name {

	line-height: 1.5vw;
	height: 4.2vw;
}

}

@media only screen and (max-width: 600px) {

	.columnx{

	width: 25vw;
}

}


/*Product card v2.0*/

.wrapperd {
  height: 420px;
  width: 800px;
  margin: 10px auto;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.productd-img {
  float: left;
  height: 420px;
  width: 327px;
}


.productd-img img {
width: 327px;
height: 420px;
  object-fit: cover;
}

.productd-info {
  float: left;
  
  width: 450px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.productd-text {
  height: 300px;
  width: 100%;
}

.productd-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.productd-text h1{
	font-size: 28px;
	font-family: 'Overpass', sans-serif;
}
.productd-price-btn p {
font-family: 'Overpass', sans-serif;
}

.productd-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.productd-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Overpass', sans-serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.productd-price-btn {
  height: 103px;
  width: 100%;
  margin-top: 17px;
  position: relative;
}

.productd-price-btn p {
  display: inline-block;
  top: 13px;
  position: absolute;
  font-family: 'Overpass', sans-serif;
  margin: 0 0 0 38px;
  font-size: 16px;
  font-weight: lighter;
  color:  #FF6347;
}

.productd-price-btn button {
  float: right;
  display: inline-block;
  height: 40px;
  width: 150px;
  margin: 0 0 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Overpass', sans-serif;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.backd-btn button{
	background-color: #9cd4eb;
}


.productd-price-btn button:hover {
  background-color: #79b0a1;
}

.backd-btn button:hover{
	background-color: #799eb0;
}

@media only screen and (max-width: 1199px){

.wrapperd {
	width: 100vw;
	height: 30vw;
}
.productd-info {
  width: 41vw;
  height: 30vw;
}
.productd-text {
  height: 20vw;
}
.productd-text h1{
	padding-top: 3vw;
	font-size: 2vw;
	
}
.productd-text h2 {
	margin-bottom: 10px;
	font-size: 2vw;
  
}

.productd-text p {

margin: 0 0 10px 36px;
font-size: 1.5vw;
 
}
.productd-price-btn {
 
  width: 45vw;
  height: 20vw;
  margin-top: 10px;
  position: relative;
}
.productd-price-btn p{
 
 font-size: 2vw;
 top: 1px;
 position: absolute;
 
}
.productd-price-btn button{
  
  width: 12vw;
  height: 4vw;
  font-size: 1vw;
}

.productd-img {
  height: 30vw;
  width: 35vw;
}

.productd-img img{
  height: 30vw;
  width: 35vw;
}

}

@media only screen and (max-width: 992px){

.wrapperd {
	width: 70vw;
	height: 30vw;
}
.productd-info {
  width: 41vw;
  height: 30vw;
}
.productd-text {
  height: 20vw;
}
.productd-text h1{
	padding-top: 3vw;
	font-size: 2vw;
	
}
.productd-text h2 {
	margin-bottom: 10px;
	font-size: 2vw;
  
}

.productd-text p {

margin: 0 0 10px 36px;
font-size: 1.5vw;
 
}
.productd-price-btn {
 
  width: 45vw;
  height: 20vw;
  margin-top: 10px;
  position: relative;
}
.productd-price-btn p{
 
 font-size: 2vw;
 top: 1px;
 position: absolute;
 
}
.productd-price-btn button{
  
  width: 12vw;
  height: 4vw;
  font-size: 1vw;
}

.productd-img {
  height: 30vw;
  width: 20vw;
}

.productd-img img{
  height: 30vw;
  width: 35vw;
}

}

/*==========================*/

/* Contact Us*/

.wrapperc {
  background-image: linear-gradient(to left top, #9fd3c2, #95ddb6, #98e5a1, #a8eb85, #c3ee62);
  height: 500px;
  width: 700px;
  margin: 10px auto;

  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;

  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.contact-us-img {
  float: left;
  height: 420px;
  width: 327px;
}


.contact-us-img img {
width: 327px;
height: 420px;
  object-fit: cover;
}

.contact-us-info {
   float: right;
   position: absolute;
   right: 15px;
   top: 30px;
  width: 450px;
  border-radius: 0 7px 10px 7px;
}
.contact-us-info hr{
  margin: 20px;
}

.contact-us-info h1 {
  font-family: 'Overpass', sans-serif;
  text-align: center;
  font-size: 25px;
  margin: 0;
}
.contact-info p {
  font-family: 'Overpass', sans-serif;
}
.contact-us-text {
  height: 300px;
  width: 100%;
}

.contact-us-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.contact-us-text h1{
	font-size: 28px;
	font-family: 'Overpass', sans-serif;
}
.contact-us-price-btn p {
font-family: 'Overpass', sans-serif;
}

.contact-us-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.contact-us-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Overpass', sans-serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.contact-us-price-btn {
  height: 103px;
  padding-right: 20px;
  width: 100%;
  margin-top: 17px;
  position: relative;
}

.contact-us-price-btn p {
  display: inline-block;
  top: 13px;
  position: absolute;
  font-family: 'Overpass', sans-serif;
  margin: 0 0 0 38px;
  font-size: 16px;
  font-weight: lighter;
  color:  #FF6347;
}

.contact-us-price-btn button {
  float: right;
  display: inline-block;
  height: 40px;
  width: 150px;
  margin: 0 0 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Overpass', sans-serif;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.send-msg-btn button{
	background-color: #799eb0;
}


.contact-us-price-btn button:hover {
  background-color: #79b0a1;
}

.send-msg-btn button:hover{
  color: #799eb0;
  background-color: #fff;
}
/*
@media only screen and (max-width: 1199px){

.wrapperd {
	width: 100vw;
	height: 30vw;
}
.contact-us-info {
  width: 41vw;
  height: 30vw;
}
.contact-us-text {
  height: 20vw;
}
.contact-us-text h1{
	padding-top: 3vw;
	font-size: 2vw;
	
}
.contact-us-text h2 {
	margin-bottom: 10px;
	font-size: 2vw;
  
}

.contact-us-text p {

margin: 0 0 10px 36px;
font-size: 1.5vw;
 
}
.contact-us-price-btn {
 
  width: 45vw;
  height: 20vw;
  margin-top: 10px;
  position: relative;
}
.contact-us-price-btn p{
 
 font-size: 2vw;
 top: 1px;
 position: absolute;
 
}
.contact-us-price-btn button{
  
  width: 12vw;
  height: 4vw;
  font-size: 1vw;
}

.contact-us-img {
  height: 30vw;
  width: 35vw;
}

.contact-us-img img{
  height: 30vw;
  width: 35vw;
}

}

@media only screen and (max-width: 992px){

.wrapperd {
	width: 70vw;
	height: 30vw;
}
.contact-us-info {
  width: 41vw;
  height: 30vw;
}
.contact-us-text {
  height: 20vw;
}
.contact-us-text h1{
	padding-top: 3vw;
	font-size: 2vw;
	
}
.contact-us-text h2 {
	margin-bottom: 10px;
	font-size: 2vw;
  
}

.contact-us-text p {

margin: 0 0 10px 36px;
font-size: 1.5vw;
 
}

.contact-us-price-btn {
 
  width: 45vw;
  height: 20vw;
  margin-top: 10px;
  position: relative;
}
.contact-us-price-btn p{
 
 font-size: 2vw;
 top: 1px;
 position: absolute;
 
}
.contact-us-price-btn button{
  
  width: 12vw;
  height: 4vw;
  font-size: 1vw;
}

.contact-us-img {
  height: 30vw;
  width: 20vw;
}

.contact-us-img img{
  height: 30vw;
  width: 35vw;
}

}*/

.input-msg input {

  display: block;
  width: 430px;
  border-radius: 10px;
  border: 1.5px solid #edeff2;
  background-color: #fff;
  padding: 10px;
  font-size: 15px;
font-family: 'Overpass', sans-serif;

}

.input-msg textarea::placeholder,
input::placeholder {

font-family: 'Overpass', sans-serif;
  color: #B0BEC5;
}

.input-msg textarea:focus, input:focus {
  outline: none;
 box-shadow: 10px 10px 18px -7px rgba(0,0,0,0.10);
}
.input-msg textarea {
  resize: none;
  height: 200px;
  width: 430px;
   display: block;
  border-radius: 10px;
  border: 1.5px solid #edeff2;
  background-color: #fff;
  padding: 10px;
  font-size: 15px;
  font-weight: 0;
font-family: 'Overpass', sans-serif;

}
.input-msg h3 {
  font-family: 'Overpass', sans-serif;
font-size: 18px;
margin: 5px;
}

.contact-info {
  padding: 20px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  display: block;
  width: 220px;
  height: 100%;
  background-color: #fff;
  float: left;
}

.contact-info h1{

 
font-family: 'Overpass', sans-serif;
font-weight: bold;
font-size: 20px;
}



.btn:hover .tooltiptext,
.cart:hover .tooltiptext {
  visibility: visible;
}

.btn:active .tooltiptext,
.cart:active .tooltiptext {
  visibility: hidden;
}

.btn .tooltiptext{

  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 40px;
  left: 0;

}

.cart .tooltiptext{

visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 33px;
  left: 0;

}

.btn.btn-info{
   position: absolute;
    left: 42%; bottom: 30px; 
    padding: 5px;
    font-family: 'Overpass', sans-serif;
}

.rowaw {
  display: flex;
  flex-wrap: wrap;
}

.colaw{

   flex: 1 0 18%; /* The important bit. This percentage decides your columns. 
 The percent can be px. It just represents your minimum starting width.
  */
  margin: 5px;
  background: tomato;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form{
  box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.67);
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 11px;
    background-repeat: no-repeat;
    background-image: url('../../assets2/images/2.png');
    font-family: 'Overpass', sans-serif;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    padding: 10px;
    background-color: #fff;
    transform: rotate(10deg);
    box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.67);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #fff;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #2fce98;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color:#2fce98;
    border: none;
    cursor: pointer;
}


.form-group input[type=number]::-webkit-inner-spin-button, 
.form-group input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.contact-form button{

  border: none;
}

.contact-form input{

  border-radius: 10px;
  border: none;
}

.contact-form textarea{

  border-radius: 10px;
  border: none;
  max-height: 140px;
  resize: none;
}

#editProf select {

 height: 40px;
}

#editProf h4 {


  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color:#5264AE;
  margin: 0;
  margin-bottom: 5px;
}

.profile-form{
  box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.67);
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70vw;
    border-radius: 11px;
    padding: 10px;
    background-repeat: no-repeat;
    background-image: url('../../assets2/images/2.png');
    font-family: 'Overpass', sans-serif;
}

.profile-form img {
  padding:10px;
  width: 100%;
  max-width: 200px;
}

.profile-form h3 {

  font-weight: bold;
  margin-bottom: 2px; 
  text-align: center;
}


.profile-form h1{
  text-align: center;
  color: #fff;
}
.profile-form h4 {
  color: #5266b3;
  margin-bottom: 2px; 
  text-align: center;
  font-weight: bold;
}

.profile-form a {
text-decoration: none;
}

.profile-form .col{
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 11px;
}