.alert {
	display: none;
	width:200px;
}
  .delAlert-ku{
    position: fixed;
    bottom: 5px;
    right:2%;
    width: 30%;
}

@media only screen and (max-width: 900px){

.alert {
	display: none;
	width:200px;
}
  .delAlert-ku{
    position: fixed;
    bottom: 5px;
    right:2%;
    width: 60%;
}

}

 #KepalaK .btn {

padding: 2px 12px; 
}

 
 #KepalaK .btn:hover {

transform: scale(1.2); 
}

nav ul ul #dropdown-user{
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 25px;
    padding: 10px;
    background: #fff;
    padding: 10px;
    z-index: 999;
    border: 1px solid #ddd;
    left: 10px;
    text-align: left;
}

